

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/EmployeeViewStyleSheet.css">
    <title></title>
</head>
<body>
    <div class="Account-area">
        <div class="account-img-container">
            <label class="Account-img">AC</label>
        </div>
        <label class="Account-fullname">account-fullmale</label>
    </div>
    <div class="Training-area">
        <div class="container-title">
            <h1>Training</h1>
        </div>

        <div class="container-list">
            <div class="list-item">
                <div class="first-row">
                    <label class="training-title">train_title</label>
                    <label class="training-department">Department : train_dept</label>
                </div>
                <label class="small-description">small_desc</label>
            </div>
        </div>
    </div>
</body>
</html>