


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/EmployeeViewStyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(
            function () {
                $.ajax({
                    type: 'GET',
                    url: "GetTrainingList",
                    data: json,
                    success: function (result) {
                        console.log(result);
                        if (result.message == "Success") {
                            console.log("Sucessfully send list...", data);
                            //window.location.href = '/EmployeeView';
                        }
                        else {
                            console.log("Failed to load list");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        )
    </script>
</head>
<body>
    <div class="Account-area">
        <div class="account-img-container">
            <label class="Account-img">AC</label>
        </div>
        <label class="Account-fullname">account-fullmale</label>
    </div>
    <div class="Training-area">
        <div class="container-title">
            <h1>Training</h1>
        </div>

        <div class="container-list">
            <div class="list-item">
                <div class="first-row">
                    <label class="training-title">train_title</label>
                    <label class="training-department">Department : train_dept</label>
                </div>
                <label class="small-description">small_desc</label>
            </div>
        </div>
    </div>
</body>
</html>