


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/EmployeeViewStyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/JavaScript/GenerateTrainingList.js"></script>
    <script>
        $(document).ready(
            function () {
                $.ajax({
                    type: 'GET',
                    url: "GetTrainingList",
                    data: 'json',
                    success: function (trainings) {
                        display(trainings)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        )
    </script>
</head>
<body>
    <div class="Account-area">
        <div class="account-img-container">
            <label class="Account-img">AC</label>
        </div>
        <label class="Account-fullname">account-fullmale</label>
    </div>
    <div class="Training-area">
        <div class="container-title">
            <h1>Training</h1>
        </div>

        <div class="container-list" id="listContainerId">
            <div class="list-item " id="trainingContainerId">
                <div class="first-row">
                    <label class="training-title" id="trainingTitleId">train_title</label>
                    <label class="training-department" id="trainingDepartmentId">Department : train_dept</label>
                </div>
                <label class="small-description" id="smallDescriptionId">small_desc</label>
            </div>
        </div>
    </div>
</body>
</html>