@model V08ClassLibrary.Entity.Account
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/employeeViewStyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/JavaScript//EmployeeViewScript.js"></script>
    <script>
        $(document).ready(
            function () {
                $.ajax({
                    type: 'GET',
                    url: "GetTrainingList",
                    data: 'json',
                    success: function (trainings) {
                        display(trainings)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        )
    </script>
</head>
<body>
    <div class="account-area">
        <div class="account-img-container">
            <label class="account-img" id="account-img-id">AC</label>
        </div>
        <div class="account-fullname-container">
            <h2 class="account-fullname" id="account-fullname-id">account-full-name</h2>
        </div>
        <div class="log-out-container">
            <button class="log-button" onclick="logOutUser()">Log out</button>
        </div>
    </div>
    <div class="training-area">
        <div class="container-title">
            <h1>Training</h1>
        </div>

        <div class="container-list" id="container-list-id">
            <div class="list-item" id="trainingContainerId">
                <div class="first-row">
                    <h2 class="training-title" id="trainingTitleId">train_title</h2>
                    <p class="training-department" id="trainingDepartmentId">Department : train_dept</p>
                </div>
                <p class="small-description" id="smallDescriptionId">small_desc</p>
            </div>
        </div>
    </div>
</body>
</html>