
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/FormStyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/JavaScript/SignInUserScript.js"></script>
</head>
<body>
    <div class="area">
        <form>
            <div class="image-container">
                <!--Insert Image-->
            </div>
            <h2>Login</h2>
            <div class="input-container">
                <div class="input-field">
                    <label for="empId">EmployeeId</label>
                    <input type="text" id="EmployeeId" name="empId">
                </div>
                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" id="PasswordId" name="empId">
                </div>
                <div class="notification">
                    <label id="notificationId"></label>
                </div>
                <div class="button-container">
                    <input type="button" value="Sign In" onclick="CheckTextField()">
                    <input type="button" value="Sign Up" onclick="RegisterUser()">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

