
@{
    ViewBag.Title = "testView";
    Layout = null;
}


<link rel="stylesheet" href="~/Content/CSS/FormStyleSheet.css">

<div class="area">
    <form>
        <div class="image-container">

        </div>
        <div class="input-container">
            <div class="input-field">
                <label for="FirstName :">FirstName</label>
                <input type="text" id="FirstNameId" name="FirstName">
            </div>

            <div class="input-field">
                <label for="OtherName :">OtherName</label>
                <input type="text" id="OtherNameId" name="OtherName">
            </div>

            <div class="input-field">
                <label for="LastName :">FirstName</label>
                <input type="text" id="LastNameId" name="LastName">
            </div>

            <div class="input-field">
                <label for="Nic :">Nic</label>
                <input type="text" id="NicId" name="Nic">
            </div>

            <div class="input-field">
                <label for="MobileNumber :">MobileNumber</label>
                <input type="number" id="MobileNumber" name="MobileNumber">
            </div>

            <div class="input-field">
                <label for="Email :">Email</label>
                <input type="text" id="EmailId" name="Email">
            </div>

            <div class="button-container">

                <input type="button" value="Sign Up">
            </div>
        </div>
    </form>
</div>