@model V08DataAccessLayer.Entity.Account
@{
    Layout = null;
}

@{ 
    string fullName;
    string initial;
    if (Model.OtherName != null)
    {
        fullName = Model.FirstName + " " + Model.OtherName + " " + Model.LastName; 
    }
    else
    {
        fullName = Model.FirstName + " " + Model.LastName; 
    }
    initial = Model.FirstName.Substring(0, 1) + Model.LastName.Substring(0, 1);
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/UserViewStyleSheet.css">

    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer src="~/Scripts/JavaScript/EmployeeViewScript.js"></script>
</head>
    <body>
        <div class="account-area">
            <div class="account-img-container">
                <label class="account-img" id="account-img-id">@initial</label>
            </div>
            <div class="account-fullname-container">
                <h2 class="account-fullname" id="account-fullname-id">@fullName</h2>
            </div>
            <div class="log-out-container">
                <button class="log-out-button" onclick="logOutUser()">Log out</button>
            </div>
        </div>
        <div class="List-area">
            <div class="container-title">
                <p>Applications</p>
            </div>
            <div class="container-list" id="container-list-id">
                <table class="list-item display" id="listContainerId" >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Option</th>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id ="screenOverlay" class="overlay">
        <div class="display-content">
            <div class="text-content">
                <p id="detailTitle">Title :</p>
                <p id="detailId">Training ID :</p>
                <p id="detailDepartmentPriority">Priority to :</p>
                <p id="detailRequirement"></p>
                <p id="detailDescription">Description : </p>
                <p id="detailDate">Date : </p>
            </div>
            <div class="upload-area"></div>
            <div class="button-content">
                <button class="item-button" onclick="hideDetail()">Close</button>
                <button class="item-button" onclick="enroll()">Enroll</button>
            </div>
        </div>
    </div>
</body>
</html>