body{
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(240, 240, 240);
}
.text-container{
    height: 500px;
    width : 100%;
    margin-top: 10VH;
    display: grid;
}
.container{
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.error-container{  
    width: 80%;
    margin: 20px 10%;
}
.image-container{
    background-color: blue;
    height: 20vh;
    width: 30%;
    margin: 0px 35%
}
button {
    width: 25%;
    margin: 10px 25%;
    background-color: rgb(57,130,232);
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
}