body{
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(240, 240, 240);
}
.area{
    width : 25%;
    min-width: 300px;
    min-height: 500px;
    margin : 0px 35%;
}
form{
    background-color:white;
    width:100%;
    margin: 100px 0px;

}
.image-container{
    background-color: blue;
    width: 60%;
    height : 100px;
    margin: 40px 20%;
}
h2{
    text-align: center;
}
.input-field{
    display: grid;
    grid-template-rows: 50% 50%;
    margin:30px 10%;
}
label{
    font-size: 13px;
}
input[type=text], input[type=number], input[type=password]{
    border: none;
    border-bottom: 1px solid black;
    }
input[type=button]{
    width : 50%;
    margin : 10px 25%;
    background-color: rgb(57,130,232);
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
}
input[type=button]:active {
    background-color: rgb(94, 160, 252);
}
input:focus{
    transition : 0.5s;
    outline: none;
    border-bottom: 1px solid rgb(47,102,217);
}
label:has(+ input:focus ){
    transition : 0.5s;
    color :  rgb(53,114,224);
}
.notification{
    color : rgb(255,0,0);
    text-align : center;
}
th, td {
    border-bottom: 1px solid #ddd;
}


