
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/ErrorPageStyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/JavaScript/ErrorScript.js"></script>
</head>
<body>
    <div class="text-container">
        <div class="error-container container">
            <h1 id="error-title">Error !!</h1>
            <h2 id="error-message">An error occured while processing your request</h2>
            <div class="image-container">
                <!--Add image-->
            </div>
        </div>
        <div class="link-container container">
            <button onclick="RedirectToEmployeeView()">redirect to home</button>
        </div>
    </div>
</body>
</html>


